<main class="activity-page" *ngIf="activity">
  <h1>Actividad {{activity.key}}</h1>
  <section> <!-- Abstract and content section -->
      <h2>{{activity.title}}</h2>
      <p>{{activity.abstract}}</p>
      <p>{{activity.content}}</p>
  </section>
  <section> 
      <form>
        <div *ngFor="let choice of activity.choices">
          <input type="radio" name="answer" [value]="choice" [(ngModel)]="selectedAnswer">{{choice}}
        </div>
        <input type="submit" value="Enviar" (click)="sendAnswer()">
      </form>
      <p *ngIf="wrongAnswer">Incorrecto</p>
  </section>
</main>