@import '../../../styles/main.scss';

/* TODO: move to general layout **/
.activity-page {
  &__abstract {
    background-color: $english-holly;
    margin-top: 4rem;
    min-height: 10rem;
    padding: 1rem;
  }
 
  &__card {
    color: black;
    margin: -2.5rem auto auto auto;
    width: 30rem;
  }
}