<ul class="student-map">
  <li class="student-map__competence"
      *ngFor="let competence of student.map.competences"
      (click)="competence.unlocked && checkCompetence(competence)">
      <p [ngClass]="{
          'student-map__competence--unlocked': competence.unlocked,
          'student-map__competence--locked': !competence.unlocked,
          'student-map__competence--completed': competence.completed}">
        {{competence.key}}
        <br />{{competence.force}}
      </p>
  </li>
</ul>