<section class="login">
  <h2>Inicia sesión</h2>
  <form (submit)="onSubmit()">
    <div>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="userLogin.email" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" name="password" [(ngModel)]="userLogin.password" required>
      </mat-form-field>
    </div>
    <button mat-button>Entrar</button>
  </form>
</section>
