@import '../../styles/main.scss';

.student-map {
  &__competence {
    cursor: pointer;

    &--locked {
      fill: $dawn;
      pointer-events: none;
    }
    
    &--unlocked {
      fill: $manz;
    }
    
    &--completed {
      fill: $forest-green;
    }
    
    &__label {
      margin: 0;
      cursor: pointer;
      fill: white;

      &--locked {
        pointer-events: none;
      }
    }
  }
}