@import '../../styles/main.scss';

.student-map {
  &__competence {
    cursor: pointer;
    list-style: none;
    display: inline-block;     
    margin-right: 10px;
  }

  &__competence {
    padding: 10px;
    border-radius: 100%;
    text-align: center;
    
    p {
      margin: 0;
    }
  }

  &__competence--locked {
      background-color: $dawn;
      pointer-events: none;
  }

  &__competence--unlocked {
    background-color: $manz;
  }

  &__competence--completed {
    background-color: $forest-green;
  }
}

line {
  stroke: #999;
  stroke-opacity: 0.6;
}