@import '../../styles/main.scss';

.student-map {
  &__competence {
    cursor: pointer;    
    p {
      margin: 0;
    }
    &--locked {
        fill: $dawn;
        pointer-events: none;
    }
  
    &--unlocked {
      fill: $manz;
    }
  
    &--completed {
      fill: $forest-green;
    }
  }
}