<section class="student-map">
  <!-- <ul *ngIf="studentMap">
    <li
        *ngFor="let competence of studentMap.competences"
        (click)="checkCompetence(competence)"
        [ngClass]="{
          'student-map__competence--unlocked': !competence.locked,
          'student-map__competence--locked': competence.locked,
          'student-map__competence--completed': competence.completed}">
      <p>{{competence.key}}</p>
      <p>{{competence.force}}</p>
    </li>
  </ul> -->
  <svg width="960" height="600"></svg>
</section>
