@import '../../styles/main.scss';

/* TODO: move to general layout **/
.home {
  background-color: $english-holly;
  margin-top: 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: $white;
  text-align: center;

  h1, h2 {
    font-weight: 300;
  }
}